Repository DmitriyB0ff/Diplom: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - local: front.yml
    - template: Security/SAST.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - local: back.yml
    - template: Security/SAST.gitlab-ci.yml
    strategy: depend

Test FB
  back.yml
  backend/go.sum
  front.yml
  frontend/.browserslistrc
Due: frontend, backend

S3 terraform
  .gitlab-ci.yml
  terraform/S3buckets/main-s3.tf
Due: none

Docker im
  back.yml
  front.yml
  terraform/S3buckets/terraform.tfvars
  terraform/S3buckets/variables.tf
  yc_kubectl_config.sh
Due: none

Test
  backend/go.mod
  frontend/.browserslistrc
Due: frontend, backend

Test
  back.yml
  front.yml
Due: none

Test
  backend/Dockerfile
  frontend/Dockerfile
  frontend/nginx/default.conf
Due: frontend, backend

Test
  backend/Dockerfile
  frontend/Dockerfile
Due: frontend, backend

Test
  front.yml
  frontend/Dockerfile
Due: frontend

Build
  back.yml
  backend/Dockerfile
  front.yml
  frontend/Dockerfile
Due: frontend, backend

Build Front
  frontend/Dockerfile
Due: frontend

Build Front
  back.yml
  frontend/Dockerfile
Due: frontend

Build front
  front.yml
  frontend/Dockerfile
Due: frontend

front
  front.yml
  frontend/Dockerfile
Due: frontend

Compile ALL
  back.yml
  backend/Dockerfile
  front.yml
  frontend/Dockerfile
Due: frontend, backend

1
  terraform/KubeCluster/key.json
  terraform/KubeCluster/main.tf
  terraform/KubeCluster/terraform.tfvars
  terraform/KubeCluster/variables.tf
Due: none

Chart
  momo-store-chart/.helmignore
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/backend/Chart.yaml
  momo-store-chart/charts/backend/templates/deployment.yaml
  momo-store-chart/charts/backend/templates/service.yaml
  momo-store-chart/charts/frontend/Chart.yaml
  momo-store-chart/charts/frontend/templates/deployment.yaml
  momo-store-chart/charts/frontend/templates/ingress.yaml
  momo-store-chart/charts/frontend/templates/service.yaml
  momo-store-chart/values.yaml
Due: none

TEst
  front.yml
  frontend/Dockerfile
Due: frontend

TEst
  front.yml
Due: none

TEST
  front.yml
  frontend/Dockerfile
Due: frontend

1
  front.yml
Due: none

Test
  front.yml
Due: none

12
  frontend/Dockerfile
Due: frontend

Deploy
  backend/Dockerfile
  frontend/Dockerfile
Due: frontend, backend

Test
  front.yml
  frontend/Dockerfile
  helmchart_ver.sh
Due: frontend

Test
  frontend/Dockerfile
Due: frontend

Test
  frontend/Dockerfile
  helmchart_ver.sh
  momo-store-chart/Chart.yaml
Due: frontend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
