Repository DmitriyB0ff/Diplom: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

stages:
  - module-pipelines

frontend:
  stage: module-pipelines
  trigger:
    include:
     - local: 'front.yml'
     - template: Security/SAST.gitlab-ci.yml
    strategy: depend
  only:
    changes:
     - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
     - local: 'back.yml'
     - template: Security/SAST.gitlab-ci.yml
    strategy: depend
  only:
    changes:
     - backend/**/*

23
  momo-store-chart/charts/frontend/templates/deployment.yaml
Due: none

TEST
  deploy-upload-chart.yml
  frontend/Dockerfile
  yc_kubectl_config.sh
Due: frontend

Helm
  momo-store-chart/Chart.yaml
Due: none

Updated to version 1.0.1637393
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/frontend/Chart.yaml
Due: none

Test
  deploy-upload-chart.yml
  momo-store-chart/Chart.yaml
Due: none

TEST
  momo-store-chart/Chart.yaml
  yc_kubectl_config.sh
Due: none

TESTed
  deploy-upload-chart.yml
  momo-store-chart/Chart.yaml
Due: none

Test test
  deploy-upload-chart.yml
  momo-store-chart/Chart.yaml
Due: none

TEst
  deploy-upload-chart.yml
  momo-store-chart/Chart.yaml
Due: none

...
  deploy-upload-chart.yml
  momo-store-chart/Chart.yaml
Due: none

DEp
  momo-store-chart/Chart.yaml
  momo-store-chart/values.yaml
Due: none

TEST
  deploy-upload-chart.yml
  momo-store-chart/charts/backend/Chart.yaml
Due: none

DO
  momo-store-chart/charts/backend/Chart.yaml
Due: none

TEst
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/backend/templates/deployment.yaml
  momo-store-chart/charts/frontend/templates/deployment.yaml
Due: none

1
  momo-store-chart/charts/backend/templates/deployment.yaml
  momo-store-chart/charts/frontend/templates/deployment.yaml
Due: none

Test Docer
  momo-store-chart/charts/backend/templates/deployment.yaml
  momo-store-chart/charts/backend/templates/secrets.yaml
  momo-store-chart/charts/frontend/templates/deployment.yaml
  momo-store-chart/charts/frontend/templates/secrets.yaml
Due: none

Test
  deploy-upload-chart.yml
  momo-store-chart/charts/frontend/Chart.yaml
Due: none

TEST
  momo-store-chart/charts/backend/templates/secrets.yaml
  momo-store-chart/charts/frontend/templates/secrets.yaml
Due: none

TEstTest
  deploy-upload-chart.yml
  momo-store-chart/values.yaml
Due: none

Test
  deploy-upload-chart.yml
  momo-store-chart/values.yaml
Due: none

Deploy
  momo-store-chart/charts/frontend/Chart.yaml
Due: none

+Helm
  deploy-upload-chart.yml
  momo-store-chart/charts/backend/Chart.yaml
  yc_kubectl_config.sh
Due: none

++Helm
  deploy-upload-chart.yml
  momo-store-chart/charts/backend/Chart.yaml
Due: none

Helm
  deploy-upload-chart.yml
  momo-store-chart/charts/backend/Chart.yaml
Due: none

Test Helm
  momo-store-chart/charts/backend/Chart.yaml
Due: none

Helm +
  momo-store-chart/values.yaml
Due: none

Load Balancer
  momo-store-chart/charts/frontend/templates/service.yaml
Due: none

Front
  back.yml
  frontend/nginx/default.conf
Due: frontend

Updated to version 1.0.1640020
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/frontend/Chart.yaml
Due: none

backend
  backend/go.mod
Due: backend

Frontend $ Backend
  back.yml
  backend/Dockerfile
  frontend/Dockerfile
Due: frontend, backend

Updated to version 1.0.1640063
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/backend/Chart.yaml
Due: none

Updated to version 1.0.1640062
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/frontend/Chart.yaml
Due: none

Test
  momo-store-chart/charts/backend/Chart.yaml
Due: none

Test
  frontend/Dockerfile
  momo-store-chart/values.yaml
Due: frontend

Test2
  frontend/Dockerfile
  momo-store-chart/values.yaml
Due: frontend

Test 3
  frontend/Dockerfile
  momo-store-chart/charts/frontend/Chart.yaml
Due: frontend

TEST
  frontend/Dockerfile
  momo-store-chart/charts/frontend/Chart.yaml
Due: frontend

Test
  frontend/Dockerfile
Due: frontend
