Repository DmitriyB0ff/Diplom: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

stages:
  - module-pipelines

frontend:
  stage: module-pipelines
  trigger:
    include:
     - local: 'front.yml'
     - template: Security/SAST.gitlab-ci.yml
    strategy: depend
  only:
    changes:
     - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
     - local: 'back.yml'
     - template: Security/SAST.gitlab-ci.yml
    strategy: depend
  only:
    changes:
     - backend/**/*

Test
  frontend/Dockerfile
Due: frontend

Updated to version 1.0.1635165
  momo-store-chart/Chart.yaml
Due: none

Test Back
  back.yml
  backend/Dockerfile
Due: backend

Test
  backend/Dockerfile
  docker-compose.yml
Due: backend

Test
  back.yml
  backend/Dockerfile
Due: backend

Test Back&Front
  back.yml
  backend/Dockerfile
  frontend/Dockerfile
Due: frontend, backend

Updated to version 1.0.1635235
  momo-store-chart/Chart.yaml
Due: none

Back&Front
  back.yml
  backend/Dockerfile
  frontend/Dockerfile
Due: frontend, backend

Updated to version 1.0.1635253
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/backend/Chart.yaml
Due: none

Updated to version 1.0.1635252
  momo-store-chart/Chart.yaml
Due: none

Test
  backend/Dockerfile
  front.yml
  frontend/Dockerfile
Due: frontend, backend

Updated to version 1.0.1635268
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/backend/Chart.yaml
Due: none

Updated to version 1.0.1635267
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/frontend/Chart.yaml
Due: none

Test
  frontend/Dockerfile
  helmchart_ver.sh
  momo-store-chart/values.yaml
Due: frontend

Updated to version 1.0.1635314
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/frontend/Chart.yaml
Due: none

TEst
  frontend/Dockerfile
  helmchart_ver.sh
Due: frontend

Updated to version 1.0.1635323
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/frontend/Chart.yaml
Due: none

Helm
  .gitlab-ci.yml
  deploy-upload-chart.yml
  momo-store-chart/values.yaml
  yc_kubectl_config.sh
Due: none

Helm
  momo-store-chart/Chart.yaml
  yc_kubectl_config.sh
Due: none

Helm
  deploy-upload-chart.yml
  momo-store-chart/Chart.yaml
Due: none

Test
  momo-store-chart/Chart.yaml
Due: none

Test
  momo-store-chart/Chart.yaml
  yc_kubectl_config.sh
Due: none

TEST
  momo-store-chart/Chart.yaml
  yc_kubectl_config.sh
Due: none

test
  momo-store-chart/Chart.yaml
  yc_kubectl_config.sh
Due: none

TEST
  momo-store-chart/Chart.yaml
Due: none

TEst
  momo-store-chart/Chart.yaml
  yc_kubectl_config.sh
Due: none

Test
  deploy-upload-chart.yml
  momo-store-chart/Chart.yaml
  yc_kubectl_config.sh
Due: none

Front
  front.yml
  frontend/Dockerfile
Due: frontend

FRONT
  front.yml
  frontend/Dockerfile
Due: frontend

1
  front.yml
Due: none
