Repository DmitriyB0ff/Diplom: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - local: front.yml
    - template: Security/SAST.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - local: back.yml
    - template: Security/SAST.gitlab-ci.yml
    strategy: depend

Te
  frontend/Dockerfile
Due: frontend

T
  frontend/Dockerfile
Due: frontend

Test
  frontend/Dockerfile
Due: frontend

Updated to version 1.0.1640687
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/frontend/Chart.yaml
Due: none

TEst
  frontend/Dockerfile
  frontend/vue.config.js
Due: frontend

Updated to version 1.0.1640734
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/frontend/Chart.yaml
Due: none

Pic
  backend/cmd/api/app/app_test.go
Due: backend

PIC
  backend/cmd/api/app/app_test.go
Due: backend

Updated to version 1.0.1641895
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/backend/Chart.yaml
Due: none

Deploy
  momo-store-chart/values.yaml
Due: none

Deploy ALL
  backend/Dockerfile
  frontend/Dockerfile
Due: frontend, backend

Updated to version 1.0.1641908
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/backend/Chart.yaml
Due: none

Updated to version 1.0.1641907
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/frontend/Chart.yaml
Due: none

Test Deploy
  momo-store-chart/values.yaml
Due: none

Test
  backend/Dockerfile
  frontend/Dockerfile
Due: frontend, backend

Updated to version 1.0.1641952
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/backend/Chart.yaml
Due: none

Updated to version 1.0.1641951
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/frontend/Chart.yaml
Due: none

backend
  backend/cmd/api/app/app_test.go
Due: backend

test
  backend/Dockerfile
  frontend/Dockerfile
Due: frontend, backend

Updated to version 1.0.1641971
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/backend/Chart.yaml
Due: none

Updated to version 1.0.1641991
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/backend/Chart.yaml
Due: none

Updated to version 1.0.1641992
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/frontend/Chart.yaml
Due: none

Backend
  backend/cmd/api/dependencies/store.go
Due: backend

Deploy
  backend/Dockerfile
  frontend/Dockerfile
Due: frontend, backend

Updated to version 1.0.1642022
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/backend/Chart.yaml
Due: none

Updated to version 1.0.1642043
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/backend/Chart.yaml
Due: none

Updated to version 1.0.1642042
  momo-store-chart/Chart.yaml
  momo-store-chart/charts/frontend/Chart.yaml
Due: none

README
  README.md
Due: none

pic
  ReadME.jpg
Due: none

Pic
  README.md
Due: none

1
  momo-store-chart/charts/frontend/templates/ingress.yaml
Due: none

Preza
  Momo_Store_presentation.pdf
Due: none

Front
  momo-store-chart/charts/frontend/templates/ingress.yaml
  momo-store-chart/charts/frontend/templates/service.yaml
Due: none

Frontend 2
  momo-store-chart/charts/frontend/templates/ingress.yaml
Due: none

Update terraform.tfvars
  terraform/S3buckets/terraform.tfvars
Due: none

Update main-s3.tf
  terraform/S3buckets/main-s3.tf
Due: none

Update terraform.tfvars
  terraform/KubeCluster/terraform.tfvars
Due: none

Update key.json
  terraform/KubeCluster/key.json
Due: none

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
